<a href="https://colab.research.google.com/github/sh4r-KO/SchoolWork/blob/main/MapReduce_TextAnalytics_Aguirre_Cabrol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TP3 : Algorithmique Map‐Reduce
### Exercice 1 : Analyse statistique de la longueur des mots d’un texte en Map
on prend le premier paragraphe de la page wikipédia de barack Obama comme exemple pour répondre aux premieres questions.

question 1) Compter le nombre de mots de chaque longueur présente dans le texte (en vue
d’établir un histogramme des longueurs de mots)


Question 2) Compter le nombre de mots de 1 à 5 caractères (inclus), de 6 à 10 caractères
(inclus), de 11 à 15 caractères (inclus) et de plus de 15 caractères présents dans le texte.


expliquation de la méthode countlenght2
1. on tri le paragraphe pour ne garder que les espaces, les lettres et les lettres majuscules.
2. on transforme le paragraphe en une liste de mots séparées par les espaces.
3. ensuite on parcoure cette liste de mots, mot par mot. en fonction de la longueur du mot actuelle on fait 2 choses

- si la longueur du mot actuelle est déja présente dans la liste lenArray, alors on incrémente la valeur à l'indice qui correspond à la longueur
- si la longueur du mot actuelle n'est pas présente dans la liste, on ajoute la valeur 1, à l'indice qui correspond à sa valeur

par exemple le tableau suivant désigne 2 mots de longueur 4, et un mot de longueur 6 (l'indice commence à 0) :

lenArray = [0,0,0,0,2,0,1]

4. après on exploite le tableau des longueur, et on trie le nombre de mots de différentes longueur en incérementant différentes variables.
5. on attribue les variables résultantes à un dictionnaire, que l'on retourne au format visible ci dessous
.

In [ ]:
def countlenght2(text):
    import re
    import collections

    NbLenOne_five = 0
    NbLenSix_Ten = 0
    NbLenEleven_15 = 0
    NbLenmore15 = 0

    text = re.sub('[^a-zA-Z ]+', '', str(text))
    textArray = text.split(' ')
    lenArray = {}
    for i in textArray :
        if len(i) not in lenArray :
            lenArray[len(i)] = 1
        elif len(i) in lenArray :
            lenArray[len(i)] = lenArray[len(i)] +1
    for i in range(1,max(lenArray.keys())+1):
        if i>=1 and i<=5       and i in lenArray.keys():
            NbLenOne_five += lenArray[i]
        elif i>=6 and i<=10    and i in lenArray.keys():
            NbLenSix_Ten += lenArray[i]
        elif i>=11 and i<=15  and i in lenArray.keys():
            NbLenEleven_15 += lenArray[i]
        elif i in lenArray.keys():
            NbLenmore15 += lenArray[i]
    return {'1-5':NbLenOne_five,'6-10':NbLenSix_Ten,'11-15':NbLenEleven_15,'16+':NbLenmore15}



text = "Barack Hussein Obama II[a] (born August 4, 1961) is an American politician who served as the 44th president of the United States from 2009 to 2017. As a member of the Democratic Party, he was the first African-American president in U.S. history. Obama previously served as a U.S. senator representing Illinois from 2005 to 2008 and as an Illinois state senator from 1997 to 2004. As of 2024, Obama remains the last U.S. president to serve two consecutive terms. Obama was born in Honolulu, Hawaii. He graduated from Columbia University in 1983 with a Bachelor of Arts degree in political science and later worked as a community organizer in Chicago. In 1988, Obama enrolled in Harvard Law School, where he was the first black president of the Harvard Law Review. He became a civil rights attorney and an academic, teaching constitutional law at the University of Chicago Law School from 1992 to 2004. He also went into elective politics; Obama represented the 13th district in the Illinois Senate from 1997 until 2004, when he successfully ran for the U.S. Senate. In the 2008 presidential election, after a close primary campaign against Hillary Clinton, he was nominated by the Democratic Party for president. Obama selected Joe Biden as his running mate and defeated Republican nominee John McCain. Obama was named the 2009 Nobel Peace Prize laureate, a decision that drew both criticism and praise. His first-term actions addressed the 2007–2008 financial crisis and included the American Recovery and Reinvestment Act of 2009, a major stimulus package to guide the economy in recovering from the Great Recession; a partial extension of the Bush tax cuts; legislation to reform health care; the Dodd–Frank Wall Street Reform and Consumer Protection Act, a major financial regulation reform bill; and the end of the Iraq War. Obama also appointed Supreme Court justices Sonia Sotomayor and Elena Kagan, the former being the first Hispanic American on the Supreme Court. He ordered Operation Neptune Spear, the raid that killed Osama bin Laden, who was responsible for the September 11 attacks. Obama downplayed Bush's counterinsurgency model, expanding air strikes and making extensive use of special forces, while encouraging greater reliance on host-government militaries. He also ordered the 2011 military intervention in Libya to implement United Nations Security Council Resolution 1973, contributing to the overthrow of Muammar Gaddafi. Obama defeated Republican opponent Mitt Romney in the 2012 presidential election. In his second term, Obama took steps to combat climate change, signing the Paris Agreement, a major international climate agreement, and an executive order to limit carbon emissions. Obama also presided over the implementation of the Affordable Care Act and other legislation passed in his first term. He negotiated the Joint Comprehensive Plan of Action, a nuclear agreement with Iran, and normalized relations with Cuba. The number of American soldiers in Afghanistan decreased during Obama's second term, though U.S. soldiers remained in the country throughout the remainder of his presidency. Obama promoted inclusion for LGBT Americans, becoming the first sitting U.S. president to publicly support same-sex marriage. Obama left office in 2017 with high approval ratings both within the United States and among foreign advisories. He continues to reside in Washington D.C. and remains politically active, campaigning for candidates in various American elections, including Biden's successful presidential bid in 2020. Outside of politics, Obama has published three books: Dreams from My Father (1995), The Audacity of Hope (2006), and A Promised Land (2020). His presidential library began construction in the South Side of Chicago in 2021. Historians and political scientists rank Obama among the upper tier in historical rankings of American presidents."

countlenght2(text)

{'1-5': 328, '6-10': 218, '11-15': 25, '16+': 1}




***

Nous allons maintenant appliquer la méthode mapreduce sur le fichier amazon_baby.csv , en nous aidant de la méthode countlenght2 écrite ci-dessus.


# **slicing**
avec le dataset que nous avons ci-dessous, on peux voir que les review sont déja slicé par ligne.

c'est donc une étape de faite avec succès.

Nous allons concentrer notre algorithme sur la colonne review. mais le processus marcherait également avec name.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/softporcupine/pandas-matplotlib-example/refs/heads/master/amazon_baby.csv")
df

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5
...,...,...,...
183526,Baby Teething Necklace for Mom Pretty Donut Sh...,Such a great idea! very handy to have and look...,5
183527,Baby Teething Necklace for Mom Pretty Donut Sh...,This product rocks! It is a great blend of fu...,5
183528,Abstract 2 PK Baby / Toddler Training Cup (Pink),This item looks great and cool for my kids.......,5
183529,"Baby Food Freezer Tray - Bacteria Resistant, B...",I am extremely happy with this product. I have...,5
183530,Best 2 Pack Baby Car Shade for Kids - Window S...,I love this product very mush . I have bought ...,5







# **Mapping**

on peux utiliser la méthode countlength2 qui permet de compter et repertorier les différentes longueures de mots, entre 1 et 5, 6 et 10, 11 et 15, et 16+

on applique donc cette méthode à chaque ligne de la colonne review, et on affiche le resultat de la ligne dans une autre colonne, appellée countlength

par exemple, pour la premiere ligne, on a  :
{'1-5': 54, '6-10': 22, '11-15': 1, '16+': 0}

ce qui signifie, qu'il y a 54 mots de longueur entre 1 et 5, 22 mots de longueur entre 6 et 10, 1 mot de longueur entre 11 et 15.

In [ ]:

# étape 2 : mapping, pour chaque node(ligne), on compte le nombre de mots de longueurs entre 1/5, 6/10, 11/15, 16+

df['countlenght'] = df['review'].apply(countlenght2)
df

,name,review,rating,countlenght
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3,"{'1-5': 54, '6-10': 22, '11-15': 1, '16+': 0}"
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,"{'1-5': 24, '6-10': 5, '11-15': 1, '16+': 0}"
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,"{'1-5': 16, '6-10': 5, '11-15': 2, '16+': 0}"
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,"{'1-5': 58, '6-10': 16, '11-15': 0, '16+': 0}"
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,"{'1-5': 66, '6-10': 9, '11-15': 1, '16+': 0}"
...,...,...,...,...
183526,Baby Teething Necklace for Mom Pretty Donut Sh...,Such a great idea! very handy to have and look...,5,"{'1-5': 23, '6-10': 4, '11-15': 0, '16+': 0}"
183527,Baby Teething Necklace for Mom Pretty Donut Sh...,This product rocks! It is a great blend of fu...,5,"{'1-5': 46, '6-10': 18, '11-15': 0, '16+': 0}"
183528,Abstract 2 PK Baby / Toddler Training Cup (Pink),This item looks great and cool for my kids.......,5,"{'1-5': 15, '6-10': 2, '11-15': 0, '16+': 0}"
183529,"Baby Food Freezer Tray - Bacteria Resistant, B...",I am extremely happy with this product. I have...,5,"{'1-5': 133, '6-10': 36, '11-15': 0, '16+': 0}"
183530,Best 2 Pack Baby Car Shade for Kids - Window S...,I love this product very mush . I have bought ...,5,"{'1-5': 27, '6-10': 8, '11-15': 1, '16+': 0}"

# **shuffling**

on modifie la colonne countlength pour afficher les valeurs différement, on regrouppe les valeurs par colonnes

In [ ]:
df = df.countlenght.apply(pd.Series)
df

        1-5  6-10  11-15  16+
0        54    22      1    0
1        24     5      1    0
2        16     5      2    0
3        58    16      0    0
4        66     9      1    0
...     ...   ...    ...  ...
183526   23     4      0    0
183527   46    18      0    0
183528   15     2      0    0
183529  133    36      0    0
183530   27     8      1    0

[183531 rows x 4 columns]

# **reduce**

on reduce le shuffling en faisant la somme par colonne, ce qui permet de donner le résultat suivant :

In [ ]:

result = {'1-5':df['1-5'].sum(),'6-10':df['6-10'].sum(),'11-15':df['11-15'].sum(),'16+':df['16+'].sum()}
print(result)

{'1-5': 11601390, '6-10': 3012155, '11-15': 165565, '16+': 7009}